[submodule "config/bundle/Vundle.vim"]
	path = config/plugins/Vundle.vim
	url = https://github.com/vundlevim/Vundle.vim
[submodule "config/bundle/vim-airline"]
	path = config/plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "config/bundle/vim-airline-themes"]
	path = config/plugins/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "config/bundle/vim-cycle-airline-theme"]
	path = config/plugins/vim-cycle-airline-theme
	url = https://github.com/qdddddd/vim-cycle-airline-theme
[submodule "config/bundle/vim-fugitive"]
	path = vim/pack/workspace/opt/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "config/bundle/auto-pairs"]
	path = vim/pack/syntax/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "config/pack/plugins/start/lightline"]
	path = vim/pack/theme/opt/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "config/pack/plugins/start/vim-gitbranch"]
	path = config/pack/plugins/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch
[submodule "vim/pack/plugins/start/nerdtree"]
	path = vim/pack/workspace/opt/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "vim/pack/workspace/start/vim-devicons"]
	path = vim/pack/workspace/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim/pack/theme/start/vim-nerdtree-syntax-highlight"]
	path = vim/pack/theme/opt/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight
[submodule "vim/pack/languages/opt/emmet-vim"]
	path = vim/pack/languages/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim
