[submodule "vim/pack/languages/opt/emmet-vim"]
	path = .local/share/nvim/site/pack/packer/opt/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "nvim/site/pack/packer/start/packer.nvim"]
	path = .local/share/nvim/site/pack/packer/start/packer.nvim
	url = https://github.com/wbthomason/packer.nvim
[submodule "nvim/site/pack/packer/start/nvim-autopairs"]
	path = .local/share/nvim/site/pack/packer/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "nvim/site/pack/packer/start/neo-tree.nvim"]
	path = .local/share/nvim/site/pack/packer/start/neo-tree.nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim
[submodule "nvim/site/pack/packer/start/nui.nvim"]
	path = .local/share/nvim/site/pack/packer/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "nvim/site/pack/packer/start/plenary.nvim"]
	path = .local/share/nvim/site/pack/packer/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/site/pack/packer/start/nvim-web-devicons"]
	path = nvim/site/pack/packer/start/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
[submodule "nvim/site/pack/packer/start/tokyonight.nvim"]
	path = .local/share/nvim/site/pack/packer/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "nvim/site/pack/packer/start/lualine.nvim"]
	path = .local/share/nvim/site/pack/packer/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "nvim/site/pack/packer/start/bufferline.nvim"]
	path = .local/share/nvim/site/pack/packer/start/bufferline.nvim
	url = https://github.com/akinsho/bufferline.nvim
[submodule "nvim/site/pack/packer/start/nvim-lspconfig"]
	path = .local/share/nvim/site/pack/packer/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/site/pack/packer/opt/nvim-web-devicons"]
	path = .local/share/nvim/site/pack/packer/opt/nvim-web-devicons
	url = https://github.com/kyazdani42/nvim-web-devicons
